:root {
  --primary-font: "Gantari", sans-serif;
  --secondary-color: #365469;
  --primary-color: #f8f8f8;
}

body {
  display: block;
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
}

footer {
  color: rgb(16, 15, 15);
  background-color: var(--secondary-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 50px 0px 50px;
  top: 80px;
  position: relative;
  z-index: 3;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 100px;
}

/*----- Footer ------*/

.footer-heading {
  padding-left: 50px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-list li {
  display: flex;
  align-items: center;
}

.footer-list li i {
  margin-right: 10px;
}

.footer-sbs-logo {
  padding-bottom: 10px;
  width: 120px;
}

/*----- navigation bar ------*/
.dropdown-menu.service {
  border-radius: 0;
  padding: 0.5em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
}
.dropdown-menu {
  border-radius: 0;
  padding: 0.5em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
}

.dropdown-menu.service ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu.service.show {
  display: flex;
}

.dropdown-menu.service li a {
  padding: 5px 5px;
}

.dropdown-menu.service li:first-child a {
  font-weight: 600;
  font-size: 18px;
}
.dropdown-item {
  font-size: 15px;
}

.container-navbar {
  background: #f8f8f8;
}
.navbar {
  padding: 0 35px !important;
}

.navbar-logo {
  width: 70px;
}

.navbar-walkita-logo {
  width: 100px;
}

/*----- index.html Hero ------*/

.hero-banner-image {
  margin: 80px 115px;
  width: 60%;
}

.hero-banner-image img {
  width: 100%;
  margin-bottom: -80px;
  border-radius: 2%;
}

.hero-banner {
  position: relative;
}

.hero-banner-title {
  position: absolute;
  left: 45%;
  top: 10%;
}
.hero-banner-title h1 {
  background: rgb(54, 84, 105, 0.75);
  color: #fff;
  line-height: 70px;
  padding: 0px 10px 0 10px;
}

.hero-banner-overlay-image {
  position: absolute;
  top: calc(100% + 10px); /* adjust the spacing as needed */
  right: 0;

  left: 15%;
  z-index: 2;
}

.hero-banner-overlay-image img {
  width: 80%; /* adjust the size as needed */

  border-radius: 2%;
}
.main-sbs-logo,
.main-walkita-logo {
  width: 400px;
}

.main-walkita-logo {
  justify-self: center;
  align-self: center;
}

.homepage-about-image-container {
  text-align: center;
}

.homepage-about-image-container img {
  text-align: center;
  border: 10px none #885df1;
  border-radius: 50% 20% / 10% 40%;
  width: 200px;
}

.intro-homepage {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.intro-homepage .intro-homepage-text {
  color: #777;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  padding: 10px;
}
.intro-homepage p {
  color: #777;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.intro-homepage h2 {
  padding-top: 45px;
}
.section-line {
  display: block;
  content: "";
  border-top: 1px solid rgb(154, 142, 142);
  margin: 10px auto;
  width: 80%;
}

.line-heading {
  display: block;
  content: "";
  border-top: 2px solid rgb(81, 128, 177);
  margin: 10px auto;
  width: 5%;
}

.intro-homepage-text {
  background: #f8f8f8;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 20px 12px;
  box-sizing: border-box;
}

.homepage-about-section {
  background: #f8f8f8;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 20px 80px;
  box-sizing: border-box;
}

/*----- testimonial index.html  ------*/

.testimonial {
  position: relative;
  min-height: 100vh;
  width: 100%;

  overflow: hidden;
}

.testimonial::before {
  position: absolute;
  content: "";
  width: 2000px;
  height: 100%;
  bottom: -70%;
  border-radius: 50%;
  background: #5580a0;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper .container {
  position: relative;
  width: 350px;
  color: #fff;
  background: var(--secondary-color);
  margin: 40px 10px;
  padding: 30px 20px;
  border-radius: 3px;
  transition: 0.3s ease;
}

.wrapper .container .profile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  width: 100%;
  display: block;
}

.wrapper .container .profile .imgBox {
  position: relative;
  height: 100px;
  width: 100px;
  margin: auto;
  border: 8px solid #777;
  border-radius: 50px;
  overflow: hidden;
}
.wrapper .container .profile .imgBox img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.3s ease;
}
.wrapper .container .profile .imgBox:hover img {
  filter: saturate(140%);
  transform: scale(0.95);
}

.wrapper .container .profile h3 {
  padding: 5px 0;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}

.wrapper .container p {
  margin-top: 70px;
  color: #fff;
  padding: 0 8px;
  font-size: 15px;
  opacity: 0.8;
}
.wrapper .container .left {
  font-size: 30px;
  display: block;
  text-align: left;
  color: #777;
}

.wrapper .container .right {
  font-size: 30px;
  display: block;
  text-align: right;
  color: #777;
}

.wrapper .container .position p {
  margin-top: 20px;
}

/*----- about.html  ------*/

.container-about-hero {
  padding-bottom: 60px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container-timeline {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container-timeline:nth-child(1) {
  animation-delay: 0s;
}
.container-timeline:nth-child(2) {
  animation-delay: 1s;
}
.container-timeline:nth-child(3) {
  animation-delay: 2s;
}
.container-timeline:nth-child(4) {
  animation-delay: 3s;
}
.container-timeline:nth-child(5) {
  animation-delay: 4s;
}
.text-box {
  padding: 20px 30px;
  background: #f8f8f8;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.container-timeline img {
  position: absolute;
  width: 50px;
  right: -20px;
  top: 32px;
  z-index: 10;
}

.right-container img {
  left: -20px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: var(--secondary-color);
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #f8f8f8;
  right: -15px;
}
.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #f8f8f8;
  left: -15px;
}

.about-image {
  width: 350px;
  border-radius: 50% 20% / 10% 40%;

  box-shadow: 8px 10px 26px rgba(0, 0, 0, 0.1);
}

.about-content {
  padding: 0px 30px 0px 30px;
  text-align: center;
}

.bg-light-gray {
  background-color: #f2f2f2;
  font-size: 18px;
  border-radius: 5px;
}

/*----- walkita.html  ------*/

.walkita-logo {
  max-width: 100%;
  width: 300px;

  position: relative;
  top: -135px;
  right: -18px;
  z-index: 2;
}

.about-main {
  background-color: var(--primary-color);
  border-radius: 4px;
}

.curved-svg-image {
  width: 25px;
}
.walikta-list {
  list-style: none;
}

.container.image-gallery {
  background-color: var(--primary-color);
}
.gallery-image {
  border-radius: 10px;

  transition: 0.1s all ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.03, 1.02); /* Scale up the image by 20% on hover */
}

/*----- services.html  ------*/

.card.services {
  border: none;
}

.formal-programs {
  border: 1px solid rgba(54, 84, 105, 0.1);
  border-radius: 5px;
  box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.2);
}

.ad-hoc-solutions {
  border: 1px solid rgba(54, 84, 105, 0.1);
  border-radius: 5px;
  box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.2);
}

.text-call-to-action {
  font-size: 25px;
}

.blop-img {
  z-index: -1;
}

.button {
  font-size: 22px;
}

/*----- contact.html  ------*/

.container-step-by-step {
  padding-bottom: 85px;
  position: relative;
}

.container-contact {
  padding-bottom: 150px;
  position: relative;
}

.contact-boxes {
  position: relative;
  top: -50px;
  right: 0;
  z-index: 2;
}

.contact-image {
  filter: brightness(52%) contrast(116%) hue-rotate(4deg) invert(12%)
    saturate(109%) sepia(9%);
  position: absolute;

  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 212px;
}

.contact-container {
  background: rgba(54, 84, 105, 0.9);
  padding: 40px 0 40px;
  border-radius: 20px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

.contact-paragraph {
  margin-top: 10px;
  font-size: 20px;
}

.contact-email-link {
  text-decoration: none;
  color: #212529;
}

.contact-email-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #ccd3df;
}

.slogan {
  z-index: 2;
  margin-top: 70px;
  padding: 30px 0;
  color: #f8f8f8;
  font-size: 50px;
  font-family: "Rock Salt", cursive;
}

.word-cloud {
  width: 400px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.keyword-size-1 {
  font-size: 16px;
}

.keyword-size-2 {
  font-size: 20px;
}

.keyword-size-3 {
  font-size: 24px;
}

.keyword-size-4 {
  font-size: 28px;
}

@media screen and (min-width: 900px) {
  .dropdown-menu:hover .dropdown-menu.service {
    display: flex;
  }
  .dropdown-menu.service.show {
    display: flex;
  }
}

@media screen and (max-width: 903px) {
  footer {
    top: -5px;
  }
  .dropdown-menu.show {
    max-height: 350px;
    overflow-y: scroll;
  }

  /*---index Hero---*/
  .hero-banner-image {
    margin: 40px auto;
    width: 60%;
  }
  .hero-banner {
    position: absolute;
  }

  .hero-banner-title {
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero-banner-title h1 {
    font-size: 20px;
    padding: 5px 20px;
    line-height: 20px;
  }
  .hero-banner-overlay-image {
    display: none;
  }

  /*---index Intro text---*/

  .intro-homepage {
    padding: 320px 10px 45px;
  }
  /*---index Services---*/
  .service-col {
    flex-basis: 100%;
  }

  .service-col img {
    max-width: 75%;
    margin: 0 auto;
  }

  .layer {
    width: 75%;
    position: relative;
    top: -100%;
    transform: translateX(17%);
  }

  /*---index About us---*/

  .homepage-about-section {
    padding: 20px;
  }
  .homepage-about-image-container img {
    width: 150px;
  }

  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .container-timeline {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box {
    font-size: 13px;
  }
  .text-box small {
    margin-bottom: 10px;
  }
  .right-container {
    left: 0;
  }
  .left-container img,
  .right-container img {
    left: 10px;
  }
  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #f8f8f8;
    border-left: 0;
    left: -15px;
  }
  .footer-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-center-column h5 {
    display: none;
  }

  /*--- contact html---*/

  .space-top-bottom {
    padding: 10px 0px;
  }

  .contact-container {
    padding: 20px 0 20px;
  }

  .contact-image {
    top: 238px;
  }

  .slogan {
    font-size: 40px;
    color: #212529;
  }
}
