:root {
  --primary-font: "Gantari", sans-serif;
}

body {
  display: block;
  font-family: var(--primary-font);
}

h1,
h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

footer {
  color: rgb(16, 15, 15);
  background-color: rgba(196, 216, 255, 0.353);
  border-radius: 5%;
  padding: 50px 0px 50px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.sbs-primary-section {
  background-color: #f8f8f8;
}

.navbar-logo,
.footer-sbs-logo {
  width: 70px;
}

.navbar-walkita-logo {
  width: 100px;
}

.homepage-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/droneview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

.carousel {
  padding: 15px 0px;
}

.btn-secondary {
  text-align: center;
  display: inline;
}

.about-image {
  width: 300px;
  border-radius: 50% / 30%;
}

.about-content {
  padding: 0px 30px 0px 30px;
  text-align: center;
}

.walkita-logo {
  max-width: 100%;
  width: 300px;
}
.about-main {
  background-color: #f8f8f8;
  border-radius: 4px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.grid img {
  object-fit: cover;
  border-radius: 8px;
  transition: all 150ms ease-in-out;
}

.gallery-image,
.gallery-image-potrait {
  max-width: 100%;
}

.gallery-image-potrait {
  width: 300px;
}

.contact-image {
  width: 300px;
  border-radius: 50% / 50%;
}
